---
import Layout from '../layouts/Layout.astro'
import "../styles/global.css";


---

<Layout>
<!-- Hero Section -->
<section class="relative bg-cover bg-center text-white" style="background-image: url('../src/assets/imagen-hero-1.jpg')">
  <div class="absolute inset-0 bg-black/40"></div>

  	<div class="relative container mx-auto px-6 sm:px-10 md:px-16 lg:px-40 xl:px-60 2xl:px-80 pt-24 sm:pt-40 md:pt-52 lg:pt-60 pb-24 sm:pb-40 md:pb-60 lg:pb-80 text-center">
		<h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium leading-tight">
			Soluciones de Software <br />
			que <span class="text-naranja font-bold">evolucionan</span> su empresa
		</h1>
		<p class="mt-4 sm:mt-6 text-base sm:text-lg md:text-xl max-w-3xl mx-auto">
			Creamos soluciones digitales adaptadas a las necesidades de su empresa,
			impulsando su transformación con tecnología ágil, segura y eficiente.
		</p>
	</div>

  <!-- Curva inferior -->
  <svg class="absolute bottom-0 left-0 w-full" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1" d="M0,96L120,128C240,160,480,224,720,218.7C960,213,1200,139,1320,101.3L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>

</section>
	
<section>
	<h2 class="text-grisclaro text-6xl font-medium text-center">
		¿Listo para <span class="text-naranja">transformar</span> su empresa?
	</h2>
	<p class="text-grisclaro text-2xl text-center mt-4">En <span class="font-bold">
		Agil3</span> lo ayudamos a hacerlo realidad con tecnología y estrategia.
	</p>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
  		<path fill="#F5F5F5" fill-opacity="1" d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
	</svg>
</section>

<section class="flex justify-between px-80 bg-[#F5F5F5]">

	<div class="text-grisclaro flex flex-col items-center justify-center px-20 gap-4">
		<img src="/icono-bot.svg" alt="Icono whatsapp bot">
		<div class="text-center flex flex-col gap-4">
			<h3 class="text-2xl font-semibold ">WhatsApp Bot</h3>
			<p>Ahorre tiempo en la atención al cliente y optimice los recursos de su empresa con nuestro Robot para WhatsApp.</p>
			<a href="#" class="text-naranja">Ver más ></a>
		</div>
	</div>

	<div class="text-grisclaro flex flex-col items-center justify-center px-20 gap-4">
		<img src="/icono-integraciones.svg" alt="Icono integraciones">
		<div class="text-center flex flex-col gap-4">
			<h3 class="text-2xl font-semibold">Integraciones</h3>
			<p>Pieza clave para automatizar y aumentar la productividad en los procesos de nuestros clientes.</p>
			<a href="#" class="text-naranja">Ver más ></a>
		</div>
	</div>

	<div class="text-grisclaro flex flex-col items-center justify-center px-20 gap-4">
		<img src="/icono-soluciones.svg" alt="Icono soluciones corporativas">
		<div class="text-center flex flex-col gap-4">
			<h3 class="text-2xl font-semibold">Soluciones Corporativas</h3>
			<p>Utilizamos la tecnología para aumentar la productividad de las empresas a través de soluciones de software.</p>
			<a href="#" class="text-naranja">Ver más ></a>
		</div>
	</div>

</section>

<section class="flex items-center justify-center gap-8">
		<img src="/puntos.svg" alt="puntos decorativos" class="my-32">
</section>

<section class="flex px-80">
	<div>
		<h2 class="text-6xl">Somos expertos en <br>múltiples arquitecturas</h2>
		<p class="text-lg">Utilizamos las mejores tecnologías del mercado para crear aplicaciones
			rápidas, seguras y flexibles. Desde interfaces modernas hasta bases de 
			datos robustas, integramos cada componente para ofrecer soluciones digitales 
			que impulsen el crecimiento de su empresa.</p>
	</div>
	<div class="flex">
		<div>
			<img src="oracle.svg" alt="Oracle">
			<img src="postgres.svg" alt="PostgreSQL">
			<img src="mysql.svg" alt="MySQL">
		</div>
		<div>
			<img src="php.svg" alt="PHP">
			<img src="puntonet.svg" alt=".NET">
			<img src="vue.svg" alt="Vue.js">
		</div>
	</div>
</section>
</Layout>
