---
import Layout from "../layouts/Layout.astro";
import HeaderPaginas from "../components/HeaderPaginas.astro";
import TarjetaSoluciones from "../components/TarjetaSoluciones.astro";
import Boton from "../components/Boton.astro";
import { Image } from "astro:assets";

import img1 from "/src/assets/soluciones-corp/soluciones-imagen-1.png"
import img2 from "/src/assets/soluciones-corp/soluciones-imagen-2.png"
import img3 from "/src/assets/soluciones-corp/soluciones-imagen-3.png"

import logoBalinera from "/src/assets/soluciones-corp/balinera-caso.png"
import logoAsocana from "/src/assets/soluciones-corp/asocana-caso.png"

---

<Layout>

  <!--Componenete Header inicial -->
  <HeaderPaginas
    title="Soluciones Corporativas"
    description="Somos expertos en implementación de soluciones corporativas, utilizamos la tecnología para aumentar la productividad de las empresas, optimizando sus procesos internos a través de soluciones de software personalizadas o adaptación de aplicaciones existentes."
    images={[img1.src, img2.src, img3.src]}
    align="left"
  />
  
  <!--Inicio seccion-->
  <section class="md:mt-32 mt-24">

    <!--Titulo-->
    <h2 class="text-grisclaro sm:text-5xl text-4xl font-medium text-center">
      Nuestras <span class="text-naranja">soluciones</span>
    </h2>

    <!--Tarjeta Aplicaciones moviles y web -->
    <TarjetaSoluciones
      badge="PWA's"
      title="Aplicaciones Moviles y Web"
      description={[
        "La mejor característica de una aplicación web progresiva es que se comporta como una App móvil, funcionan en modo online/offline, almacenan datos en el dispositivo, tienen ubicación geográfica etc. Se actualizan automáticamente y no requieren de descarga en tiendas (Google o Apple), simplemente se debe entrar a una dirección web.Son óptimas para captura de datos (eg. agricultura) y para potencializar la fuerza de ventas de la empresa.",
      ]}
      image="../src/assets/tarjetas/imagen-tarjeta-1.png"
      buttonLabel="Más Información"
    />
    
    <!--Tarjeta Deparmentos comerciales -->
    <TarjetaSoluciones
      badge="Para departamentos comerciales"
      title="Portal de Pedidos"
      description={[
        "Producto ideal para la fuerza de ventas, consta de:",
        "• Aplicación móvil de captura de pedidos y reporte de visitas comerciales que opera online y offline.",
        "• Portal web de reportes y gestión de pedidos, aprobaciones, control de cupos.",
      ]}
      image="../src/assets/tarjetas/imagen-tarjeta-2.png"
      buttonLabel="Más Información"
    />
    
    <!--Tarjeta Compras y Logistica -->
    <TarjetaSoluciones
      badge="Compras y logística"
      title="Portal de Gestión de Compras"
      description={[
        "Solución encargada de agilizar el proceso de compras en la empresa, desde la aprobación de solicitudes hasta crear el documento de orden de compra en el ERP.",
        "Automatiza el contacto con los proveedores para que envíen sus cotizaciones.",
        "La Información de cotizaciones se centraliza, se acaban las cotizaciones por correo, fax o teléfono. Todos los proveedores cotizan por el mismo medio, evitando que queden cotizaciones por fuera del proceso de compra.",
        "Eficiencia en la selección del proveedor: Elimina la elaboración de archivos alternos con cuadros comparativos, los cuales consumen tiempo y recursos.",
        "Nuestro sistema agiliza la toma de decisión de compra sugiriendo la mejor opción en precio, días de entrega, % incremento.",
      ]}
      image="../src/assets/tarjetas/imagen-tarjeta-3.png"
      buttonLabel="Más Información"
    />
  </section>
  
  <!--Inicio seccion casos de exito -->
  <section>

    <!--Titulo-->
    <h2 class="text-grisclaro sm:text-5xl text-4xl font-medium text-center mt-36">
      Casos de <span class="text-naranja">éxito</span>
    </h2>

    <!--Curva circular-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <path
        fill="#FFDDC5"
        fill-opacity="1"
        d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
      ></path>
    </svg>

    <!--Contenedor-->
    <div class="bg-gradient-to-b from-[#FFDDC5] to-white">
      <div data-aos="fade-up"
        class="grid grid-cols-1 lg:grid-cols-2 items-stretch sm:max-w-5xl max-w-[90%] mx-auto"
      >
        <!--Caso 1-->
        <div
          class="flex flex-col items-center sm:border-r-2 border-naranja sm:pr-24 md:px-16 gap-12"
        > 
          <Image src={logoBalinera} alt={"Lofotipo Balinera S.A"} class="w-40" />
          <p class="text-grisclaro text-lg">
            En la Balinera S.A, <strong>el portal de ventas</strong> ayudo a <strong
              >incrementar los negocios cerrados en un 60%,</strong
            > se paso de un promedio de 15 cotizaciones semanales a 40 por cada asesor.
            Con la aplicación móvil se reportan todos los eventos en línea y la gerencia
            esta al tanto en tiempo real de los que haces su fuerza de ventas.
          </p>
        </div>

        <!--Caso 2-->
        <div class="flex flex-col items-center sm:pl-24 md:px-16 gap-12 mt-16 lg:mt-0 md:mt-16">

          <Image src={logoAsocana} alt={"Lofotipo Balinera S.A"} class="w-40" />
          <p class="text-grisclaro text-lg">
            En Asocaña, creamos el <strong>sistema de liquidación </strong> de Fondo de Estabilización de
            Precios del Azúcar, una solución que permitió <strong>automatizar el proceso de cálculo 
            de la liquidación,</strong> generar notificaciones automáticas en los resultados y pasar de 
            un proceso de 2 días a un proceso de 2 horas.

          </p>
        </div>
      </div>
    </div>

    <!--Boton-->
    <div class="flex items-center justify-center md:my-40 my-24">
      <Boton text="Contáctanos" />
    </div>
    
  </section>
</Layout>
