<footer class="bg-gris text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center md:items-center sm:items-start pt-12">
      
      <!-- Columna: Información de la empresa -->
      <div class="mb-6 md:mb-0 justify-center items-center flex flex-col sm:items-start">
        <img src="/logo-agil3-1.svg" alt="Logo Agil3" class="h-13 mb-4" />

        <!-- Teléfono -->
        <div class="mt-16 flex items-center gap-2 mb-2">
          <img src="/icono-whatsapp.svg" alt="WhatsApp" />
          <p class="text-m">+1 786 806 2890</p>
        </div>

        <!-- Correo -->
        <div class="flex items-center gap-2 mb-2">
          <img src="/icono-correo.svg" alt="Correo" />
          <p class="text-m">info@agil3software.com</p>
        </div>

        <!-- Ubicación / Nombre empresa -->
        <div class="flex items-center gap-2">
          <img src="/icono-linkedin.svg" alt="LinkedIn" />
          <p class="text-m">Agil3 Software</p>
        </div>
      </div>

      <!-- Columna: Navegación -->
      <nav class="flex flex-col md:flex-row sm: sm:items-start items-center space-y-2 md:space-y-0 md:space-x-16 text-m">
        <a href="#" class="text-grisclaro transition-colors hover:text-gray-300">Soluciones</a>
        <a href="#" class="text-grisclaro transition-colors hover:text-gray-300">Integraciones</a>
        <a href="#" class="text-grisclaro transition-colors hover:text-gray-300">Casos de éxito</a>
        <a href="#" class="text-grisclaro transition-colors hover:text-gray-300">Contáctenos</a>
      </nav>
    </div>
  </div>

  <div class="container mx-auto px-4 mt-16">
    <hr class="border-t-2 border-naranja" />
    <p class="text-center text-sm text-white mt-6">
      ©2025 Agil3 Software - Cali, Colombia | Política de privacidad
    </p>
  </div>
</footer>